<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/rnr_style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Aural Trace</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="#">
            <img src="../static/brand_name.png" alt="" class="brand_img">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
                <a class="nav-item nav-link active" href="{{ url_for('recognize') }}">Record & Recognize</a>
                <!-- <a class="nav-item nav-link" href="#middle">Recognize</a> -->
                <a class="nav-item nav-link" href="{{ url_for('fingerprint') }}">Songs</a>
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
            <div class="rec">
                <!-- <a class="btn-lg" href="#middle" role="button">Record</a> -->

                <!-- <button class=" btn-lg " id="recordButton" onclick="recordAndRecognize()">Record and
                    Recognize</button> -->

                <div>

                    <button class="btn-lg" id="recordButton" onclick="recordAndRecognize()">Record and
                        Recognize</button>
                </div>

                <div id="recordingStatus" class="mt-3" style="display: none;">
                    <!-- <div id="recordingStatus" class="mt-3"> -->
                    <p>Recording... Please wait.</p>
                </div>

                <div id="playbackSection" class="mt-3" style="display: none;">
                    <!-- <div id="playbackSection" class="mt-3"> -->
                    <!-- <h5>Recorded Audio</h5> -->
                    <audio id="audioPlayer" controls></audio>
                    <form id="submitForm" action="{{ url_for('recognize') }}" method="post" class="centered-form">
                        <input type="hidden" name="recorded_file" id="recordedFile">
                        <button type="submit" class="btn-lg" id="submitButton">Find</button>
                    </form>
                </div>

            </div>
        </div>


    </main>

    <script>
        function recordAndRecognize() {
            document.getElementById('recordingStatus').style.display = 'block';
            fetch("{{ url_for('record_audio_route') }}", { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('recordingStatus').style.display = 'none';
                    document.getElementById('playbackSection').style.display = 'block';
                    document.getElementById('audioPlayer').src = data.file_path;
                    document.getElementById('recordedFile').value = data.file_name;
                    document.getElementById('recordButton').textContent = 'Record Again?';
                })
                .catch(error => {
                    document.getElementById('recordingStatus').style.display = 'none';
                    alert('Recording failed: ' + error);
                });
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>